{
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "never"],
    "no-console": "off",
    "arrow-body-style": "off",
    "function-paren-newline": ["error", "multiline"],
    "object-curly-newline": ["error", {
      "minProperties": 5,
      "multiline": true,
      "consistent": true
    }],
    "no-underscore-dangle": "off",
    "no-await-in-loop": "off",
    "no-plusplus": "off",
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "ignore"
    }]
  }
}
